body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.hero {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: white;
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        color: white;
    }
}

.background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}