body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.hero {
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%;
    color: white;
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-family: var(--font-tourney);
        color: white;
        font-size: 4em;
        text-shadow:
            0 0 8px rgba(0, 0, 0, 0.6),
            2px 2px 4px rgba(0, 0, 0, 0.4);
    }
}

.background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}