---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import { fade } from "astro:transitions";
import VideoPlayer from "../components/VideoPlayer.astro";
import "../styles/index.css";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <VideoPlayer src="/bgvideo/playlist.m3u8" />
        <main class="hero">
            <section>
                <h1 transition:animate={fade({ duration: "1s" })}>
                    <span style="color: var(--planck-blue-light)">Planck</span>
                    <span style="color: var(--planck-red)">Team</span>
                </h1>
                <p>Setting the standard since 2014.</p>
            </section>
        </main>
        <Footer />
    </body>
</html>
