---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import planckVideo from "../assets/planck.mp4";
import '../styles/index.css';
import { fade } from "astro:transitions";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <video preload="metadata" autoplay muted loop playsinline class="background-video">
            <source src={planckVideo} type="video/mp4" />
        </video>
        <main class="hero">
            <section>
                <h1 transition:animate={fade({ duration: "1s" })}>
                    <span style="color: var(--planck-blue-light)">Planck</span>
                    <span style="color: var(--planck-red)">Team</span>
                </h1>
                <p>Setting the standard since 2014.</p>
            </section>
        </main>
        <Footer />
    </body>
</html>
