@import "../content.css";

.title {
    margin-bottom: 1em;
    padding: 1em 0;
    text-align: center;
    line-height: 1;
}

.title h1 {
    font-size: 2.5em;
    margin: 0 0 0.5em 0;
}

.date {
    margin-bottom: 0.5em;
    color: rgb(var(--gray));
}

.last-updated-on {
    font-style: italic;
}
